.flexer_section{
padding:70px 400px;
border-radius: .3rem;
display: flex;
justify-content: center;
align-items: center;
border: red 3px solid;

}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
   background-color: rgb(156, 221, 225);
}




/* .outer{
   position: relative;
} */



.square{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   text-align: left;
   width: 100px;
   height: 100px;
   margin: auto;
   background-color: #000;
}